<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appleveltemplates</title>
    <style>
        h1{ color: #f90303;}
        body{background-color: rgb(50, 54, 54);}
       span{color:limegreen;} 
       p{ color: rgb(249, 252, 249);}
    </style>
</head>
<body>
    <h1>Welcome Dears My First  Appleveltemplates Practice</h1>
    <p>I Am <span>Abdirahman Abdullahi Mohamed</span>  </p>
    <p>I Am A member Of the Spondias Students In Mogadisho </p>
    <p>I Am Joined here Before One Year And I Benifed More Like learned HTML,CSS,Python And some it's  Framework like flask  </p>
    <p>And I Will Also  Hope to got More than About python Like Django Framework  </p>
</body>
</html>