<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Level Django Templates Project</title>
    <style>
        body{ background-color: rgb(60, 98, 142);}
        p{ color: rgb(13, 187, 13); font-size: large;}
        span{color: #d10c0c;}
    </style>
</head>
<body>
    <h1>Hello Welcome All Students This is Our first Template Practice</h1>
    <p>Are You A New  <span>Student</span> Or Your Are Old Once On here Before This Course Like Amember Of Spondias Students ?</p>
    <p>Are You A Employee Or Your Are  <span>A Teacher</span>  On here Before The Start Of This Course Like Amember Of Spondias Teachers ?</p>
    <p>Are You  <span>An Admin</span> New  Or Your Are Old Once On here Before This Course Like Amember Of Spondias Admins ? </p>
</body>
</html>